--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Andriy Haydys</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <br>
                        <header>
                            <h1> Andriy Haydys </h1>
                        </header>


                        I am a PostDoc at the <a href="https://www.math.uni-freiburg.de">Institute of Mathematics</a> of Freiburg University supported by the <a target="_blank" href="https://sites.duke.edu/scshgap/">Simons Collaboration</a> on Special Holonomy in Geometry, Analysis, and Physics.
                        <br>
                        <br> My research interests include:
                        <ul>
                            <li>differential geometry, in particular manifolds with special holonomies;</li>
                            <li>gauge theory and its applications;</li>
                            <li>geometric analysis.</li>
                        </ul>
                        My most resent research is concerned with the Seiberg-Witten equations with multiple spinors and special Kähler geometry.

                    </div>
                    <span class="image">
										<img src="images/haydys.jpg"  alt="" />
									</span>
                </section>

                <!-- Section -->
                <section>
                    {% include publications.html %}
                
                    {% include recordedtalks.html %}
                </section>
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>