--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Andriy Haydys</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% include googleanalytics.html %}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            
            <div class="inner">

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <br>
                        <header>
                            <h1> Andriy Haydys </h1>
                        </header>

                        Chargé de Cours (Assistant Professor) at the <a href="https://sciences.ulb.be/departement-mathematique" target="_blank">ULB</a> in Brussels, member of the <a href="https://geometry.ulb.ac.be/" target="_blank">Geometry Group</a>.
                        <br>
                        <br>
                        Haydys' research interests include in particular: 
                        <ul>
                            <li>gauge theory and its applications;</li>
                            <li>Riemannian manifolds with special holonomy groups and related geometries; </li>
                            <li>geometric analysis.</li>
                        </ul>
                    
                        Most recent research activities of Andriy Haydys are concerned with the projects, which are described in some details below.
                        <br>
                        
                          
                        
                    </div>
                    <span class="image">
										<img src="images/haydys.jpg"  alt="" />
									</span>
                </section>
                
                <!-- Section -->
                <section>
                 <div class="content">
                    <header class="major">
                    <h2> MSCA4Ukraine scholarships for Ukrainian researchers </h2>
                    </header>
                 
                 MSCA will open a call to support displaced researchers from Ukraine. Fellowships are open to all domains of research and will be awarded for a minimum of 6 months, up to a maximum of 24 months. <a target="_blank" href="https://marie-sklodowska-curie-actions.ec.europa.eu/news/msca-will-provide-an-additional-eu10-million-to-support-displaced-researchers-from-ukraine">More details.</a> 
                   </div>
                 </section>
                
                
                <!-- Section -->
                <section>
                    <header class="major">
                    <h2> Research projects </h2>
                    </header>   
                        <header>
                            <h3> A. Gauge theory </h3>
                        </header>   
                        
                        The long term goal of this project is a construction of invariants of compact <a target="_blank" href="https://en.wikipedia.org/wiki/G2_manifold"> G2-manifolds</a> via gauge-theoretic methods.
                        A program for constructing such invariants was pioneered by Donaldson and Thomas. 
                        Roughly speaking, one would like to define an invariant of G2-manifolds which would remain constant along isotopies of G2-metrics by counting certain G2-instantons. 
                        One of the main problems of this approach is that the number of G2-instantons does not need to be constant along isotopies of G2-metrics.
                        Conjecturally, one should be able to obtain an invariant of a G2-manifold that remains constant along isotopies of G2-structures by counting G2-instantons together with certain Seiberg-Witten monopoles on associative submanifolds.
                        Some details of this approach can be found for example in Haydys' paper  <a target="_blank" href="http://arxiv.org/abs/1703.06329">G2 instantons and the Seiberg-Witten monopoles.</a>  
                        <br>
                        <br>
                    <h4>Current focus</h4> 
                     
                    I study the effect of the presence of reducible solutions in the Seiberg–Witten gauge theory with multiple spinors in dimension three. It is expected that the presence of reducible solutions is
                    reflected in the so called “wall crossing phenomenon” for the number of the Seiberg–Witten monopoles. It is intended to study this type of wall crossing phenomenon in details. 
                    <br><br>
                    
                    
                    <h4>Funding</h4>
                    
                    ARC grant "Transversality and reducible solutions in the Seiberg–Witten theory with multiple spinors", supported by the ULB.
                    <br><br>
                    
                    <h4>Selected publications:</h4>
                    <table>
                        <tr>
                            <td>
                                A. Haydys. Seiberg-Witten monopoles and flat PSL(2;R)-connections, <a target="_blank" href="https://doi.org/10.1016/j.aim.2022.108686">Adv. Math. 409 (2022)</a>, <a target="_blank" href="https://arxiv.org/abs/2001.07589">arXiv:2001.07589</a>.
                            </td>
                        <tr>
                            <td>
                                A. Haydys. The infinitesimal multiplicities and orientations of the blow-up set of the Seiberg–Witten equation with multiple spinors. Adv. Math. 343 (2019), 193–218; <a target="_blank" href="http://arxiv.org/abs/1607.01763">arXiv:1607.01763</a>.
                            </td>
                            <tr>
                                <td>
                                    A. Haydys, T.Walpuski. A compactness theorem for the Seiberg-Witten equation with multiple spinors in dimension three. Geom. Funct. Anal. (GAFA), 25(6):1799-1821, 2015; <a target="_blank" href="http://arxiv.org/abs/1406.5683">arXiv:1406.5683</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    A. Haydys. <a target="_blank" href="http://dx.doi.org/10.1112/jlms/jds008">Gauge theory, calibrated geometry and harmonic spinors</a>, J. Lond. Math. Soc. (2), 86(2):482-498, 2012. <a target="_blank" href="http://arxiv.org/abs/0902.3738">arXiv:0902.3738</a>
                                </td>
                            </tr>
                    </table>

                    <br>
                    
                    <header>
                        <h3> B. Z/2 harmonic spinors in dimension three </h3>
                    </header>
                    
                    A Z/2 harmonic spinor is a generalization of the classical notion of harmonic spinor where one allows certain branching behaviour along a codimension two subset in the ambient manifold.  
                    Roughly speaking, a long term goal of this project is to show that the subset of all Riemannian metrics on a given three-manifold admitting a non-trivial Z/2 harmonic spinor is a smooth Banach manifold of codimension 1 away from a small singular set. 
                    
                    <br><br>
                    <h4>Selected publications:</h4>
                    <table>
                        <tr>
                            <td>
                                A. Haydys, R. Mazzeo, R. Takahashi. An index theorem for Z/2-harmonic spinors branching along a graph, <a target="_blank" href="https://arxiv.org/abs/2310.15295">arXiv:2310.15295</a>.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                A. Haydys, R. Mazzeo, R. Takahashi. New examples of Z/2 harmonic 1-forms and their deformations, <a target="_blank" href="https://arxiv.org/abs/2307.06227">arXiv:2307.06227</a>.
                            </td>
                        </tr>
                    </table>
                    
                    <h4>Collaborators</h4>
                    
                    <a href="https://web.stanford.edu/~rmazzeo/cgi-bin/" target="_blank">Rafe Mazzeo</a> (Stanford) and 
                    <a href="https://www.math.ncku.edu.tw/english/people/ryosuke.html" target="_blank">Ryosuke Takahashi</a> (NCKU, Taiwan).
                    
                    <br><br>
                    
                    <header>
                        <h3> C. Topological methods in enumerative geometry of G2 manifolds </h3>
                    </header>
                    
                    We study a weak homotopy-theoretical notion of associative submanifolds in G2 manifolds. This
                    allows us to apply powerful tools from algebraic topology, by-passing the substantial analytic difficulties one typically encounters in calibrated geometry. From this, we expect to gain new insights into existence and counting questions for associatives.
                    
                    <br><br>
                    
                    <h4>Collaborators</h4>
                    
                    <a href="https://home.mathematik.uni-freiburg.de/goette/index.html.en" target="_blank">Sebastian Goette</a> (Freiburg)
                    
                    <br><br>
                    
                    <h4>Funding</h4>
                    
                    PDR grant "Topological methods in enumerative geometry of G2 manifolds", supported by the FNRS and DFG.
                    <br><br>
                <header>
                    <h3> D. Special Kähler and related geometries </h3>
                </header>
                Special Kähler structures appear in geometry as natural structures on certain important moduli spaces and as the structure of the base of a holomorphic Lagrangian fibration. These structures also appear in physics, for example in the low energy limit of N = 2 supersymmetric Yang-Mills theory in dimension four.
                <br>
                <br>
                    
                Since a complete special Kähler metric is necessarily flat,  a singular special Kähler metric is a relevant object of study. From the integrable system point of view, singularities of special Kähler structures correspond to singular fibers of the corresponding holomorphic Lagrangian fibration. From the moduli space point of view, singularities correspond to the "boundary points", i.e., degenerations of the structures under consideration. The main goal of this project is to understand singularities of special Kähler structures in a systematic way. 
                <br><br>
                    
                <h4>Collaborators</h4>
                
                Bin Xu (Hefei, China)
                    
                <br><br>
                    
                <h4>Selected publications:</h4>
                <table>
                    <tr>
                        <td>
                            A. Haydys and B. Xu. Special Kähler structures, cubic differentials and hyperbolic metrics, <a target="_blank" href="http://arxiv.org/abs/1807.08550">arXiv:1807.08550 </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           M. Callies and A. Haydys. Local models of isolated singularities for affine special Kähler structures in dimension two, IMRN, <a target="_blank" href="https://doi.org/10.1093/imrn/rny165">DOI:10.1093/imrn/rny165</a>,  <a target="_blank" href="http://arxiv.org/abs/1711.09118">arXiv:1711.09118 </a> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            A. Haydys. Isolated singularities of affine special Kaehler metrics in two dimensions. Commun. Math. Phys., 340(3):1231-1237, 2015; <a target="_blank" href="http://arxiv.org/abs/1505.00462">arXiv:1505.00462</a>
                        </td>
                    </tr>
                </table>
            </section>
    
                            
                <!-- Section -->
                <section>
                    {% include recordedtalks.html %}
                </section>
            </div>
        </div>

        <!-- Sidebar -->
        {% include sidebar.html %}
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>
