--- 
# this is an empty front matter 
---
<!DOCTYPE HTML>
<html>

<head>
    <title>Andriy Haydys</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <center>
                        <h6> This page is under construction </h6>
                </center>

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <br>
                        <header>
                            <h1> Andriy Haydys </h1>
                        </header>


                        I am a PostDoc supported by the <a target="_blank" href="https://sites.duke.edu/scshgap/">Simons Collaboration</a> on Special Holonomy in Geometry, Analysis, and Physics.
                        <br>
                        <br> My research interests include:
                        <ul>
                            <li>differential geometry, in particular manifolds with special holonomies;</li>
                            <li>gauge theory and its applications;</li>
                            <li>geometric analysis.</li>
                        </ul>
                        For more information on my research have a look at the dedicated section.

                    </div>
                    <span class="image">
										<img src="images/haydys.jpg"  alt="" />
									</span>
                </section>

                <!-- Section -->
                <section>
                    {% include publications.html %}
                </section>

                <section>
                    {% include recordedtalks.html %}
                </section>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Search -->
                <!--section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
                <nav id="menu">
                    {% include menu.html %}

                    <!-- Section -->
                    <section>
                        {% include contact.html %}
                    </section>

                    <!-- Footer -->
                    <footer id="footer">
                        <p> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                    </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>

</html>