<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header class="major">
        <h2>Contact</h2>
    </header>
    <ul class="contact">
        <li class="fa-envelope-o"><a href="mailto:andriy{dot}haydys@math.uni-freiburg.de">andriy(dot)haydys@ math.uni-freiburg.de</a></li>
        <li class="fa-phone">+49 761 203 5564</li>
        <li class="fa-home">Abteilung für Reine Mathematik<br> Universität Freiburg<br> Eckerstraße 1<br> D-79104 Freiburg<br> GERMANY
            <br><br> Office: 342
        </li>
    </ul>
</body>

</html>