<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header class="major">
        <h2>Publications/Preprints</h2>
    </header>
    <table>
        <tr>
            <td>
                1.
            </td>
            <td>
                M. Callies and A. Haydys. Affine special Kaehler structures in real dimension two, <a target="_blank" href="http://arxiv.org/abs/1710.05211">arXiv:1710.05211 </a>
            </td>
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td>
                A. Haydys. G2 instantons and the Seiberg-Witten monopoles. In <i>Gromov-Witten Theory, Gauge Theory and Dualities</i> edited by P. Bouwknegt, B. Parker and B.-L. Wang (to appear). <a target="_blank" href="http://arxiv.org/abs/1703.06329">arXiv:1703.06329.</a>
            </td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                A. Haydys. Topology of the blow-up set for the Seiberg-Witten equation with multiple spinors. <a target="_blank" href="http://arxiv.org/abs/1607.01763">arXiv:1607.01763</a>
            </td>
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td>
                A. Haydys. Isolated singularities of affine special Kaehler metrics in two dimensions. Commun. Math. Phys., 340(3):1231-1237, 2015; <a target="_blank" href="http://arxiv.org/abs/1505.00462">arXiv:1505.00462</a>
            </td>
        </tr>
        <tr>
            <td>
                5.
            </td>
            <td>
                A. Haydys, Th.Walpuski. A compactness theorem for the Seiberg-Witten equation with multiple spinors in dimension three. Geom. Funct. Anal. (GAFA), 25(6):1799-1821, 2015; <a target="_blank" href="http://arxiv.org/abs/1406.5683">arXiv:1406.5683</a>
            </td>
        </tr>
        <tr>
            <td>
                6.
            </td>
            <td>
                A. Haydys. Dirac operators in gauge theory, In <i>New ideas in low-dimensional topology</i> edited by L.Kauffman and V.Manturov, volume 56 of <i>Ser. Knots Everything</i>, pp. 161-188. World Sci. Publ., Hackensack, NJ, 2015; <a target="_blank" href="http://arxiv.org/abs/1303.2971">arXiv:1303.2971</a>
            </td>
        </tr>
        <tr>
            <td>
                7.
            </td>
            <td>
                A. Haydys. Fukaya-Seidel category and gauge theory, J. Symplectic Geom. 13(1):151-207, 2015. <a target="_blank" href="http://arxiv.org/abs/1010.2353">arXiv:1010.2353</a>
            </td>
        </tr>
        <tr>
            <td>
                8.
            </td>
            <td>
                A. Haydys. <a target="_blank" href="http://dx.doi.org/10.1112/jlms/jds008">Gauge theory, calibrated geometry and harmonic spinors</a>, J. Lond. Math. Soc. (2), 86(2):482-498, 2012. <a target="_blank" href="http://arxiv.org/abs/0902.3738">arXiv:0902.3738</a>
            </td>
        </tr>
        <tr>
            <td>
                9.
            </td>
            <td>
                A. Haydys. <a target="_blank" href="http://dx.doi.org/10.1016/j.geomphys.2007.11.004"><span style="font-style: italic;">HyperKahler and quaternionic Kahler manifolds with S</span><sup style="font-style: italic;">1</sup><span  style="font-style: italic;">-symmetries.</span></a> J. Geom. Phys. <span style="font-weight: bold;">58</span>(2008), no. 3, 293-306. <a target="_blank" href="http://arxiv.org/abs/0706.4473">arXiv: 0706.4473</a>
            </td>
        </tr>
        <tr>
            <td>
                10.
            </td>
            <td>
              A. Haydys. <a href="http://dx.doi.org/10.1007/s00220-008-0445-1" target="_blank"><span style="font-style: italic;">Nonlinear Dirac operator and quaternionic analysis.</span></a> Comm.&nbsp; Math. Phys. <span style="font-weight: bold;">281</span>(2008), 251-261,<a href="http://arxiv.org/abs/0706.0389" target="_blank">arXiv:0706.0389</a>  
            </td>
        </tr>
    </table>
</body>

</html>