<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header class="major">
        <h2>Some Recorded Talks</h2>
    </header>
  
    <ul>
      <li><a target="_blank" href="http://scgp.stonybrook.edu/video_portal/video.php?id=2924">Topology
          of the blow up locus for the Seiberg-Witten equation</a>, Stony Brook,
        USA, 2016.</li>
      <li><a target="_blank" href="https://sms.cam.ac.uk/media/2275311">G2-instantons
          and the Seiberg-Witten monopoles</a> (this is a shorter version of the
        two talks with the identical title below), Cambridge, UK, 2016.</li>
      <li><a target="_blank" href="http://scgp.stonybrook.edu/video_portal/video.php?id=1502">A
          compactness theorem for the Seiberg-Witten equations with multiple
          spinors</a>, Stony Brook, USA, 2014.</li>
      <li><a target="_blank" href="http://scgp.stonybrook.edu/video_portal/video.php?id=1510">G2-instantons
          and the Seiberg-Witten monopoles I</a>, Stony Brook, USA, 2014.</li>
      <li><a target="_blank" href="http://scgp.stonybrook.edu/video_portal/video.php?id=1507">G2-instantons
          and the Seiberg-Witten monopoles II</a>, Stony Brook, USA, 2014.</li>
      <li><a target="_blank" href="https://youtu.be/DXnC7ihWqjg">Fukaya-Seidel
          category and gauge theory</a>, Banff, Canada, 2013.</li>
    </ul>
  
</body>
</html>
