<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <!--section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
            <section>
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="index.html">Homepage</a></li>
                        <li><a href="cv.html">CV</a></li>
                        <li><a href="teaching.html">Teaching</a></li>
                        <!-- li>
											<span class="opener">Misc / Past</span>
											<ul>
                                                <li><a href="freigoeseminar18.html">Freiburg/Göttingen Seminar on Gauge Theory and Physics</a></li>
												<li><a href="binxulectures.html">Lectures of Bin Xu on conical spherical metrics</a></li>
												<li><a href="speialkaehlerminiworkshop18.html">Mini-Workshop on special Kähler geometry</a></li>
											</ul>
							</li -->
                    </ul>
                </nav>
            </section>
            <br>
            <section>
                <header class="major">
                    <h2>Contact</h2>
                </header>
                <ul class="contact">
                    <li class="fa-envelope-o"><a href="mailto:andriy{dot}haydys@ulb.be">andriy(dot)haydys@ ulb.be</a></li>
                    <li class="fa-phone"></li>
                    <li class="fa-home"> ULB CP 218<br> Boulevard du Triomphe<br>B-1050 Bruxelles<br>Belgium
                        <br><br> Office: 2.07.114
                    </li>
                </ul>

            </section>
            <br><br>
            <section>
                <!-- Footer -->
                <footer id="footer">
                    Last updated: {{ site.time | date_to_string }}<br> Design: <a href="https://html5up.net">HTML5 UP</a>.
                </footer>
            </section>
        </div>
    </div>


</body>

</html>